.form_section{
    background: url('../../assets/images/contact_bg.png');
    height: 636px;
    width: 100%;
    background-size: cover;
    background-position: 50%;
}

.form_section .container{
    height: 100%;
}

.form_section_container{
    display: flex;
    padding: 71.75px 163.05px 64.35px 127.95px;
    gap: 50px;
    align-items: center;
    height: 100%;
}

.form_section_info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    height: 100%;
}

.form_section_title{
    width: 509px;
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    font-family: Space Grotesk, sans-serif;
    text-transform: capitalize;
    line-height: 48px;
}

.form_section_text{
    color: #fff;
    font-family: Space Grotesk, sans-serif;
    text-transform: capitalize;
    font-size: 32px;
    line-height: 36px;
}

.form_title2{
    display: none;
}

.form_section_phone{
    display: flex;
    align-items: center;
    gap: 34px;
}

.form_section_phone_icon{
    padding: 8px 7.26px;
    border-radius: 16px;
    background: rgba(4, 78, 255, .2);
}

.form_section_phone_btn{
    border-radius: 16px;
    background: linear-gradient(135deg, #2E77AE, #0D2137);
    padding: 12px 10.8px;
}

.form_section_number{
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    font-family: Space Grotesk, sans-serif;
    text-transform: capitalize;
    line-height: 54px;
}

.form{
    max-width: 400px;
    width: 100%;
    height: 500px;
    border-radius: 15px;
    background: #fff;
    padding: 35px 68px;
}

.form p{
    color: var(--text-color);
    font-size: 12px;
    font-family: Space Grotesk, sans-serif;
    line-height: 20px;
    letter-spacing: .96px;
    text-transform: uppercase;
}

.form p span{
    color: red;
}

.form input{
    margin-top: 12px;
    border-radius: 16px;
    border: 1px solid rgba(24, 25, 69, .1);
    background: #fff;
    height: 60px;
    width: 100%;
    margin-bottom: 30px;
    padding-left: 17.84px;
    outline: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
}

.form_btn{
    border-radius: 16px;
    background: linear-gradient(135deg, #2E77AE, #0D2137);
    padding: 20px 35px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: Space Grotesk, sans-serif;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -.36px;
    width: 100%;
}

.form_btn:hover{
    background: linear-gradient(0deg, rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), linear-gradient(270deg, #0D2137, #2E77AE);
}

@media (max-width: 700px){

    .form_section{
        height: auto;
    }

    .form_section_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 64px 20px 64px;
    }

    .form_title2{
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
    }

    .form_section_text{
        font-size: 26px;
    }

    .form_section_info h2{
        display: none;
    }

    .form_section_info div{
        display: none;
    }

    .form_section_title{
        width: 319px;
        font-size: 28px;
        line-height: 36px;
        text-align: center;
    }

    .form{
        padding: 20px;
    }

    .form_section_number{
        font-size: 26px;
    }
}